@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Zain:wght@200;300;400;700;800;900&display=swap");

/* Start Variables */
:root {
  --main-color: #c19617;
  --dark-color: #57440a;
  --white-color: #ffffff;
  --black-color: #000000;
  --green-color: #00806e;
  --main-transition: all 0.3s ease-in;
  --bg-light: #f9f5e8;
  --text-color: #525252;
}

/* End Variables */

/* Start Global Styles */
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Zain", sans-serif;
  overflow-x: hidden;
  color: #212529;
}

a {
  transition: color 0.3s ease;
  text-decoration: none;
}

/* End Global Styles */

.sidebar {
    width: 250px;
    min-height: 100vh;
    background-color: #fff;
    color: white;
    position: fixed;
    top: 0;
    right: 0;
    padding-top: 1rem;
  }

  .sidebar .logo {
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 2rem;
    color: #fff;
    font-weight: bold;
  }

  .sidebar a {
  display: flex;
  align-items: center;
  padding: 0.75rem 1rem;
  color: #6D6F71;
  text-decoration: none;
  transition: 0.3s;
  border-radius:5px;
  position: relative;
}

.sidebar a:hover,
.sidebar a.active {
  background-color: #eafaf4; /* خلفية خفيفة عند التحديد */
  color: #008270;
}

.sidebar a.active::before,
.sidebar a:hover::before {
  content: "";
  position: absolute;
  top: 5px;
  bottom: 5px;
  right: 0;
  width: 6px; /* عرض الخط */
  background-color: #008066; /* لون الخط */
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
}

  .content {
    margin-right: 250px;
    padding: 2rem;
  }
  /* Start whatsapp Mark */
  .whatsapp-float {
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 200;
  }

  .whatsapp-float img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
  }

/* End whatsapp Mark */

/* Top bar */
.top-bar{
  border-bottom: 1px solid #e5e5e5;
  height : 65px;
}
.top-bar input[type="search"] {
  background: #FDFDFD;
  height: 45px;
}
  .icons {
    display: flex;
    gap: 15px;
    align-items: center;
  }

  .notification-icon, .settings-icon {
    position: relative;
    background-color: #FDFDFD; /* رمادي */
    padding: 10px 10px 5px 10px;
    border-radius: 8px;
    text-align: center;
    display: inline-block;
    color: white;
    font-size: 18px;
    margin-left: 5px;
  }

  .notification-icon.comment {
    color: #008270; 
    background-color: #d4edda; 
    font-size: 22px;
  }

  .notification-icon.comment .notification-badge {
    color: #d4edda; 
    background-color: #008270; 
  }

  .notification-icon.bell {
    color: #03ADBB; 
    background-color: #e7f9ffff;
    font-size: 22px;
  }

  .notification-icon.bell .notification-badge {
    color: #e7f9ffff; 
    background-color: #03ADBB; 
  }

  .settings-icon.gear {
    color: #c19617; 
    background-color: #F9F5E8;
    font-size: 22px;
  }

  .settings-icon.gear .notification-badge {
    color: #F9F5E8; 
    background-color: #c19617; 
  }

  .notification-badge {
    position: absolute;
    top: -5px;
    right: -5px;
    background: red;
    color: white;
    font-size: 11px;
    padding: 2px 5px;
    border-radius: 50%;
  }
.btn-check:checked+.btn, .btn.active, .btn.show, .btn:first-child:active, :not(.btn-check)+.btn:active {
  color: var(--bs-btn-active-color);
  background-color: var(--bs-btn-active-bg);
  border-color: 0px;
}
/* End Top bar */

/* Start Content */
.stats-card {
    background-color: #fff;
    border-radius: 16px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    position: relative;
    overflow: hidden;
    height: 160px;
  }

  .stats-card .dots {
    color: #008066;
    font-size: 18px;
  }

  .stats-card .growth-icon {
    background-color: #eaf7f4;
    color: #008066;
    padding: 6px;
    border-radius: 50%;
    font-size: 14px;
  }

  .stats-card .ribbon {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #008066;
    width: 5px;
    height: 100%;
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
  }

  .stats-card  .amount {
    color: #008066;
    font-weight: bold;
    font-size: 18px;
  }

  .stats-card .percentage {
    font-size: 14px;
    color: #000;
    margin-left: 5px;
  }

  .yellow .dots {
    color: #c19617;
    font-size: 18px;
  }

  .yellow .growth-icon {
    background-color: #F9F5E8;
    color: #c19617;
    padding: 6px;
    border-radius: 50%;
    font-size: 14px;
  }

  .yellow .ribbon {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #c19617;
    width: 5px;
    height: 100%;
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
  }

  .yellow .amount {
    color: #c19617;
    font-weight: bold;
    font-size: 18px;
  }

/* End Content */

/* زر القائمة في الموبايل */
.mobile-menu-btn {
  position: relative;
  top: 0px;
  right: 0px;
  background-color: #008066;
  color: white;
  border: none;
  padding: 10px 12px;
  font-size: 20px;
  z-index: 1100;
  border-radius: 6px;
  display: none;
}


